<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
	<title>BOOKS</title>
</head>

<body>

<!-- book投稿一覧 -->
	<h1>Books</h1>
	<table>
		<tr>
			<th>Title</th>
			<th>Option</th>
			<th colspan="3"></th>
		</tr>
		<tbody>
	<!-- books変数内から一つずつ取り出しbook変数へ -->
			<% @books.each do |book| %>
	<!-- タイトルにリンク付けする -->
			<td><a><%= link_to book_path(book.id) do %>
			<%= book.title %>
			<% end %>
			</td></a>
	<!-- bodyを表示 -->
			<td><%= book.body %></td>
			<% end %>
		</tbody>
	</table>
<!-- book投稿一覧ここまで -->



	<footer>
<!-- エラーメッセージ -->
<ul>
  <% @book.errors.full_messages.each do |msg| %>
   <li>
    <%= msg %>
   </li>
  <% end %>
</ul>
<!-- エラーメッセージここまで -->

<!-- 新規投稿画面 -->
		<h2>New book</h2>
		<!-- form_for部分 -->

		<%= form_for(@book, url: '/books') do |f| %>

			<label>Title</label>
			<%= f.text_field :title %>
			<label>Option</label>
			<%= f.text_area :body %>

			<%= f.submit 'Create Book' %>
		<% end %>

	</footer>

</body>
</html>