<!-- これはbookの詳細画面 -->
<!-- showの@books　= find. -->
<!-- showの＠book = save -->
<!DOCTYPE html>
<html>
	<head>
		<% if flash.now[:notice] %>
		<p><% flash[:notice] %></p>
		<% end %>
		<title>book_show</title>
	</head>
	<body>
<!-- サイドバーを挿入 -->
<%= render 'books/side', books: @books %>

	<div class="container">
	<div class="row">
	<div class="col-xs-9">

		<h1 class="jquery">Hello jQuery!</h1>
		<h2>Book detail</h2>
		<table class="table">
			<tbody>
				<!-- bookとひもづくユーザーの画像データを表示させる。book.user -->
				<tr>
					<td><%= link_to user_path(@user) do %>
					<%= attachment_image_tag @books.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size:'40x40' %>
					<br>
					<%= @user.name %><% end %></td>
						<!-- （ブックタイトル） -->
					<td><%= link_to book_path(@books) do %>
						<%= @books.title %><% end %></td>
						<!-- （ブックボディ） -->
					<td><%= @books.body %></td>


						<!-- ログインしているユーザーの場合edit,destoryを表示させる -->
					<% if @books.user == current_user %>
						<td>
							<div class="edit_destroy"><%= link_to "Edit",edit_book_path(@books.id), class:"btn btn-success"%></td>
						<td><%= link_to "Destroy", book_path(@books.id),class:"btn btn-danger", method: :delete, data: {confirm: '本当に削除しますか？'} %>
							</td></div>
					<% end %>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
	</div>
	</body>
</html>