<!-- これはbookの詳細画面 -->



<!DOCTYPE html>
<html>
<head>
	<% if flash.now[:notice] %>
	<p><% flash[:notice] %></p>
	<% end %>
</head>
<body>
	<h2>Book detail</h2>
	<!-- bookとひもづくユーザーの画像データを表示させる。book.user -->
	<%= attachment_image_tag @book.user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg" %>
	<%= @user.name %>
	<!-- （ブックタイトル） -->
	<%= @book.title %></p>
	<!-- （ブックボディ） -->
	<%= @book.body %></p>

	<footer>

		<!-- ログインしているユーザーの場合edit,destoryを表示させる -->
		<% if @book.user == current_user %>

		<span class="label label-success">
			<%= link_to "Edit",edit_book_path(@book.id) %>
		</span>

		<span class="label label-danger">
		<%= link_to "destroy", book_path(@book.id), method: :delete, data: {confirm: '本当に削除しますか？'} %>
		<% end %>
		</span>

	</footer>
</body>
</html>