<!-- これはヘッダーに表示させるメニュー画面 -->



<!DOCTYPE html>
<html>
<head>
  <title>Bookbook2</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<header>
  <span>Bookers</span>

  <div id="sidemenu">
    <!-- ユーザーがサインインしている場合 -->
    <% if user_signed_in? %>
    <li class="">
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      <%= link_to "Home", user_path(current_user.id) %>
    </li>
    <li class="">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      <%= link_to "Users", users_path %>
    </li>
    <li class="">
      <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
      <%= link_to 'Books', books_path %>
    </li>
    <li class="">
      <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
      <%= link_to "logout", destroy_user_session_path, method: :delete %>
    </li>
    <!-- ユーザーがサインインしていない場合 -->
    <% else %>
    <li class="">
      <%= link_to "Home", "#" %>
    </li>
    <li class="">
      <%= link_to "about", "#" %>
    </li>
    <li class="">
      <%= link_to "sign up", new_user_registration_path %>
    </li>
    <li class="">
      <%= link_to "login", new_user_session_path %>
    </li>
    <% end %>
  </div>
</header>

<!-- ここからサイドバー -->
<div class="container">
  <div class="row">
    <div class="col-sm-3" style="background-color: yellow;">

      <!-- ログインしていたらサイドバーを表示させる -->
      <% if user_signed_in? %>

      <!-- ここからプロフィール -->
      <h2>User info</h2>
      <!-- ユーザのプロフィール画像 -->
      <h4 class=profile-kawauso">
        <%= attachment_image_tag @user_profire, :profile_image, :fill, 60, 60, class: "pull-left profile-thumb", fallback: "no_image.jpg" %>
        <table class="table table-condensed">
          <tr>
            <th>name</th>
            <td><%= @user_profire.name %></td>
          </tr>

          <tr>
            <th>introduction</th>
            <td><%= @user_profire.introduction %></td>
          </tr>
        </table>
      </h4>
      <!-- 自分がカレントユーザの場合はプロフィール編集ボタン表示 -->
      <% if @user_profire == current_user %>
      <!-- クラス：ボタン、レンチのアイコン -->
      <%= link_to "",edit_user_path(@user_profire), class: "btn btn-default glyphicon glyphicon-wrench" %>

      <% end %>











      <!-- ここまでプロフィール -->

      <!-- 新規投稿画面ここから -->

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>New book</h2>
      <!-- form_for部分 -->
      <%= form_for(@book, url: '/books') do |f| %>

      <label>Title
        <%= f.text_field :title %>
      </label><br>
      <label>Option
        <%= f.text_area :body %>
      </label><br>

      <input type="submit" name="commit" value="Create book" class="btn btn-primary" data-disable-with="Create book">

      <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>
    <!-- 新規投稿画面ここまで -->
    <!-- サイドバーここまで -->

    <body>
      <div class="col-sm-9" style="background-color: orange;">
        <%= yield %>
      </div>
    </div>
  </body>
</body>
</html>