<!DOCTYPE html>
<html>
  <head>
    <title>Bookbook2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


<header>
  <div id="sidemenu">
    <!-- ユーザーがサインインしている場合 -->
    <% if user_signed_in? %>
    <li class="">
      <%= link_to "Home", user_path(current_user.id) %>
    </li>
    <li class="">
      <%= link_to "Users", "#" %>
    </li>
    <li class="">
      <%= link_to 'Books', books_path %>
    </li>
    <li class="">
      <%= link_to "logout", destroy_user_session_path, method: :delete %>
    </li>

    <!-- ユーザーがサインインしていない場合 -->
    <% else %>
    <li class="">
      <%= link_to "Home", "#" %>
    </li>
    <li class="">
      <%= link_to "about", "#" %>
    </li>
    <li class="">
      <%= link_to "sign up", new_user_registration_path %>
    </li>
    <li class="">
      <%= link_to "login", new_user_session_path %>
    </li>
    <% end %>

  <body>
    <div class="container">
          <%= yield %>
    </div>
  </body>
</html>